FIREWORKS_API_KEY=your_fireworks_api_key
FIREWORKS_MODEL=accounts/fireworks/models/llama-v3p3-70b-instruct
FIREWORKS_TEMPERATURE=0.2
FIREWORKS_MAX_TOKENS=1800
KIMI_DAILY_BUDGET_USD=5
KIMI_ESTIMATED_COST_USD=0.02
